---
title: Brother Toad
layout: body.njk
data: index.yaml
---
{% import "layouts/macros.njk" as m %}

<p>
  This is a very simple site that contains some notes for myself.
  It is unlikely the content here will be useful to anyone else.
  It was created using {{'metalsmith'|linkTo('https://metalsmith.io')|safe}},
  and the source code is on
  {{'GitHub'|linkTo('https://github.com/brothertoad/brothertoad-metalsmith')|safe}}.
</p>

<div class="row-parent">
  <div class="column">
    <div class="mb-3">
      {{ m.linkblock(data.servers) }}
    </div>
  </div>
  <div class="column">
    <div class="mb-3">
      {{ m.linkblock(data.local) }}
    </div>
  </div>
</div>

<div>
  {{ m.h3('Useful Linux commands and tips:') }}
  <div>
    To restart Cinnamon without logging out (don't know if this works with MATE):
    <pre class="xpreformatted">
      Atl-F2 (brings up dialog)
      r&lt;return&gt;
    </pre>
  </div>
  <div>
    To list the hardware that is installed:
    <pre class="xpreformatted">
      sudo inxi -F
    </pre>
  </div>
  <div>
    To see what version of Linux Mint is installed:
    <pre class="xpreformatted">
      cat /etc/os-release
    </pre>
  </div>
  <div>
    To reload the /etc/exports file:
    <pre class="xpreformatted">
      sudo exportfs -ra
    </pre>
    To see what is currently being NFS exported:
    <pre class="xpreformatted">
      sudo exportfs -s
    </pre>
  </div>
  <div>
    To convert avi files with vorbis video:
    <pre class="xpreformatted">
      ffmpeg -i file.avi -vcodec h264 -an file.h264
      ffmpeg -i file.avi -acodec libfaac file.aac
      mp4box -add file.h264 -add file.aac file.mp4
    </pre>
  </div>
  <div>
    To get a vob file from a DVD (dvd://1 means title 1):
    <pre class="xpreformatted">
      mplayer dvd://1 -dvd-device /path/to/dvd/folder -v -dumpstream -dumpfile movie.vob
    </pre>
  </div>
  <div>
    To restore a postgres cluster from a pg_dumpall --clean command:
    <pre class="xpreformatted">
      psql --user postgres -f &#x3c;dumpfile&#x3e; postgres
    </pre>
  </div>
  <div>
    Cron jobs for me and root:
    <pre class="xpreformatted">
      30 01 * * * /home/username/bin/backup.sh (me)
      00 01 * * * sh /home/username/bin/sys-backup.sh (root - perhaps just run manually)
    </pre>
  </div>
  <div>
    I found the following technique on
    <a href="https://stackoverflow.com/questions/7333232/how-to-concatenate-two-mp4-files-using-ffmpeg">this page on stackoverflow.com</a>.
    To concatenate two (or more) mp4 files that have the same encoding parameters, create
    a text file that lists them, one per line, like so:
    <pre class="xpreformatted">
      file 'video1.mp4'
      file 'video2.mp4'
    </pre>
    then issue the following command:
    <pre class="xpreformatted">
      ffmpeg -f concat -safe 0 -i listfile -c copy output.mp4
    </pre>
  </div>
  <div>
    <a href="https://unix.stackexchange.com/questions/258679/why-is-ls-suddenly-wrapping-items-with-spaces-in-single-quotes">This link</a>
    tells how to make the <code>ls</code> command revert to traditional behavior, and
    not put quotes around file names with spaces, namely by setting the following
    environment variable: <code>QUOTING_STYLE=literal</code>
  </div>
  <br>
  <div>
    To get individual tracks from a flac file that has an entire album (assuming there is
    a cue file), do
    <pre>
      abcde -d x.flac
    </pre>
  </div>
</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.24.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.24.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
