---
title: Legacy Tasks
layout: body.njk
data: legacy-tasks.yaml
---
{% import "layouts/macros.njk" as m %}

{{ m.leftstringblock(data.general1) }}
{{ m.leftstringblock(data.activities) }}
{{ m.leftstringblock(data.general2) }}
{{ m.leftstringblock(data.house) }}
{{ m.leftstringblock(data.moreitems) }}
{{ m.leftstringblock(data.termiteareas) }}
{{ m.leftstringblock(data.evenmore) }}
{{ m.leftstringblock(data.frontsprinklers) }}
{{ m.leftstringblock(data.paperlist) }}
{{ m.leftstringblock(data.todo) }}
{{ m.leftstringblock(data.lilypond1) }}
{{ m.leftstringblock(data.lilypond2) }}
