---
title: Media
layout: body.njk
data: media.yaml
---
{% import "layouts/macros.njk" as m %}

{{ m.leftstringblock(data.books) }}
{{ m.leftstringblock(data.pendingsongs) }}
{{ m.leftstringblock(data.music) }}
{{ m.leftstringblock(data.tvseries) }}
{{ m.leftstringblock(data.anime) }}

{{'Bloody-disgusting'|linkTo('https://bloody-disgusting.com/')|safe}} and
{{'DreadCentral'|linkTo('https://www.dreadcentral.com/')|safe}} are horror movie sites.
